.burger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  &::after {
    content: "";
    width: 0;
    height: 0;
    margin: 0;
    border-top: 5px solid var(--color-black);
    border-right: 5px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 5px solid transparent;
  }
}