.hero {
  position: relative;

  &__title {
    @include abs-center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: var(--color-accent-red);

    @include fluid-text(120, 48);
  }

  &__image {
    @include tablet {
      display: none;
    }
  }

  @include tablet {
    height: calc(100vh - 130px);
    background: url("../../assets/images/hero.jpg") center / cover no-repeat;
  }
}