.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  background-color: var(--color-primary-blue);

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }

  &__close-button-wrapper {
    display: flex;
    gap: 40px;
    padding-block: 20px;

    @include tablet {
      gap: 20px;
    }

    @include mobile {
      gap: 32px;
    }
  }

  &__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: var(--color-white);
    &::after {
      content: "";
      width: 0;
      height: 0;
      margin: 0;
      filter: invert(1);
      border-top: 0 solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid var(--color-black);
      border-left: 5px solid transparent;
    }
  }

  &__image {
    filter: invert(1)
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &__link {
    color: var(--color-white);
    font-size: 20px;
  }

}

