.section {
  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: clamp(300px, 50vw, 800px);
    margin: auto;
  }

  &__link {
    color: var(--color-primary-blue);
  }

  &__body, &__header {
    padding-bottom: 135px;

    @include desktop {
      padding-bottom: 90px;
    }

    @include tablet {
      padding-bottom: 65px;
    }

    @include mobile {
      padding-bottom: 35px;
    }
  }
}
