body {
  @include fluid-text(17, 14);

  font-family: var(--font-family-base);
  font-weight: 500;
  line-height: 1.7;
  color: var(--color-black);
  background-color: var(--color-white);
}

a, button, input, textarea, svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1.75;
}

h1 {
  @include fluid-text(105, 48);
}

h2 {
  @include fluid-text(27, 17);

  line-height: 1.55;
}

.is-active {
  color: var(--color-accent-orange);
}

body {
  background-color: var(--color-gray-300);
}

dialog {
  padding: 0;
}