@import
  "normalize",
  "fonts",
  "mixins",
  "media",
  "variables",
  "utils",
  "globals";

@import "blocks/burger-button",
        "blocks/header",
        "blocks/mobile-overlay",
"blocks/hero",
"blocks/section",
"blocks/collage";